
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fFF;
}



.navbar-logo {
    position: absolute;
    left: 45px; /* Posiciona o logotipo à esquerda */
    top: 25px; /* Ajuste a posição vertical conforme necessário */
    height: 50px;
    
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center; /* Garante que os links fiquem centralizados */
    align-items: center;
    position: absolute;
    top: 40px;
    left: 650px;
}

.nav-links li {
    margin: 0 15px; /* Espaçamento entre os links */
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: normal;
}
.nav-links li:hover a {
    color: #38b6ff; /* Cor do texto ao passar o mouse */
    text-decoration: underline;
}
.nav-links2 {
    list-style: none;
    display: flex;
    justify-content:  space-evenly; /* Garante que os links fiquem centralizados */
    align-items: center;
    width: 600px;
    position: absolute;
    right: 0px;
    top: 30px;
    
}
.doar-btn {
     /* Remove o botão do fluxo normal */
    right: 100px; /* Posiciona o botão à direita */
    background-color: #38b6ff;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    background-color: #fff;
    
  
}

.hero-content {
    display: flex;
    flex-direction: row; 
    align-items: center;
    display: flex;
    gap: 80px;
    justify-content: space-around;
    margin-top: 90px;
    font-size: 16px;
    font-family: 'Arial', sans-serif; /* Fonte do texto */
    line-height: 18px;
}

.hero-image {
    width: 50%; /* Define a largura da imagem */
    max-width: 500px;
    height: 722px;
    border-radius: 10px;
    height: 100; /* Altura da imagem */
}
.primeiro-titulo {
    font-size: 2.5em; /* Tamanho da fonte do título */
    font-family: 'Inter', sans-serif; /* Fonte do título */
    font-weight: 800 ;
    margin-bottom: 20px;
    color: black; /* Cor do texto */
    text-align: left;
}


.hero-text {
    width: 650px; /* Define a largura do texto */
    padding: 20px;
    padding-top: 50px;
    text-align: justify;
    justify-content: center;
    font-family: 'Inter', sans-serif; /* Fonte do título */
    
}
.textotab {
    text-indent: 30px; /* Indentação do texto */
}

.hero-buttons {
    margin-top: 20px;
    padding-left: 13vh;
    padding-bottom: 45px;
    
}
.hero-buttons .primary:hover {
    background-color: #007bff;
    color: white;
}
.hero-buttons .secondary:hover {
    background-color: #007bff;
    color: white;
}
.hero-buttons .primary,
.hero-buttons .secondary {
    padding: 10px 20px;
    margin-right: 40px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    height: 50px;
    width: 200px; /* Largura dos botões */
    font-weight: bolder;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.hero-buttons .primary {
    background-color: #38b6ff;
    color: white;
}

.hero-buttons .secondary {
    background-color: #38b6ff;
    color: white;
}
.donation-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 0px;
    width: 1200px;
    margin: auto;
    padding-top: 300px;
    padding-bottom: 100px;
    
}

.info-section1, .info-section2 {
flex: 1;
max-width: 75%;

}

.info-section1 p {
font-size: 16px;
margin: 5px 0;
text-align: justify;
font-weight: normal;
font-family: 'Inter', sans-serif; /* Fonte do texto */
line-height: 18px;
}

.info-section2 p {
font-size: 16px;
margin: 5px 0;
text-align: justify;
font-weight: normal;
font-family: 'Inter', sans-serif; /* Fonte do título */
}


.titulo_conta {
font-size: 36px;
font-weight: bolder;
text-align: center;
padding-bottom: 10px;
font-family: 'Inter', sans-serif; /* Fonte do título */
}


.form-section {
flex: 1;
max-width: 50%;
padding: 0;
}

.form-group {
display: flex;
flex-direction: column;
gap: 15px;
}

table {
width: 100%;
border-collapse: collapse;

}

td {
padding: 5px;
font-family: 'Inter', sans-serif; /* Fonte do título */
font-weight: 500;
}


label {
    font-family: 'Inter', sans-serif; /* Fonte do título */
    font-weight: 500;
}

input {
width: 100%;
padding: 8px;
border: 1px solid #030303;
border-radius: 5px;
}
.valornecessario,.telefone,.cpf {
    width: 100%;

}

.botao_criar {
background-color: #0099ff;
color: white;
padding: 12px;
border: none;
border-radius: 5px;
font-size: 16px;
cursor: pointer;
margin-top: 10px;
width: 100%;
}

.botao_criar:hover {
background-color: #007acc;
}

.footer {
    text-align: center;
    padding: 10px;
    background: #ddd;
    font-family: 'Inter';
    box-shadow: inset 0px 6px 7px -2px rgba(0, 0, 0, 0.288);
    background-color: #38b6ff;
    color: white;
    font-size: 16px;
    height: 100px;
}
.footer-linha1 {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
    
}
