.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px; /* Ocupa metade da largura da página */
    height: 180px;
    position: relative;
    background: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding-left: 50%;
    padding-top: 30px;
}

.carousel-slide {
    width: 100%;
    display: flex;
    justify-content: center;
}

.carousel-image {
    margin: auto;
    justify-content: center;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #007bff8c;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50%;
}

.prev-btn { left: 10px; }
.next-btn { right: 10px; }

.prev-btn:hover, .next-btn:hover {
    background: rgba(0, 0, 0, 0.8);
}
