.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
    gap: 20px; /* Espaço entre os elementos */
}

.hero-content {
    display: flex;
    flex-direction: row; 
    align-items: center;

}

.hero-image {
    width: 50%; /* Define a largura da imagem */
    max-width: 500px;
    height: auto;
    border-radius: 10px;
}

.hero-text {
    width: 50%; /* Define a largura do texto */
    padding: 20px;
}
.hero-buttons {
    margin-top: 20px;
}

.hero-buttons .primary,
.hero-buttons .secondary {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.hero-buttons .primary {
    background-color: #007bff;
    color: white;
}

.hero-buttons .secondary {
    background-color: #f8f9fa;
    color: #333;
}